*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    color: black;
}

#workscreen{
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #container-formulario{
  width: 55%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid #371535 1px;
  border-radius: 20px;
 }

 #cabecalho-formulario{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 }

 .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.2em + 1vw);
 }
 .logo img{
  height: 40px;
 }

 .acao-conta{
  display: flex;
  align-items: center;
 }

 .acao-conta span{
  font-size: calc(0.2em + 1vw);
  float: right;
 }

 #cabecalho-formulario p{
  font-size: calc(0.5em + 1vw);
  font-weight: 700;
  color: #522952;
 }

 #elementos-formulario form p{
    font-size: calc(0.3em + 1vw);
    font-weight: 500;
    color: #9e7aa1;
 }

 #elementos-formulario{
  width: 90%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #elementos-formulario form{
  width: 90%;
 }


/* From uiverse.io by @mrhyddenn */
.form__group {
    position: relative;
    padding: 20px 0 2%;
    margin-top: 10px;
    width: 100%;
    margin: 0 auto;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: calc(0.3em + 1vw);
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: calc(0.3em + 1vw);
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-width: 2px;
    border-image: linear-gradient(to right, #69486c, #b08bb2);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: calc(0.3em + 1vw);
    color: #371535;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

/* From uiverse.io by @adamgiebl */
button {
    color: black;
    margin: 2% 0 0;
    width: 45%;
    padding: 0.3em 0;
    border-radius: 0.5em;
    background: #9e7aa1;
    border: 1px solid #9e7aa1;
    transition: all .3s;
    box-shadow: 2px 2px 6px #b5b4b4,
                -6px -6px 12px #ffffff;
    font-size: calc(0.3em + 1vw);
   }
   
   button:hover {
    background-color: white;
    border: 1px solid #9e7aa1;
    cursor: pointer;
    color: #371535;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }

   #elementos-formulario form .btn{
    display: flex;
    justify-content: center;
   }