body{
    padding: 0;
    margin: 0;
    background-color: var(--fundoSite);
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.main img{
    position: absolute;
    margin-left: 250px;
    width: 200px;
    margin-top: -100px;
}

.container{
    background-color: white;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: #522952;
}

.container .titulo{
    font-size: 22px;
    width: 350px;
}

.container .textoAjuda{
    font-size: 16px;
    margin-top: 20px;
    width: 400px;
}

.container input{
    width: 400px;
    margin-top: 20px;
    height: 30px;
    font-size: 18px;
    color: #522952;
}

.container button{
    width: 400px;
    border: none;
    height: 40px;
    color: white;
    background-color: #522952;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}
.main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}