body{
    padding: 0;
    margin: 0;
    background-color: var(--fundoSite);
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.graficos_left{
    display: flex;
    width: 400px;
    flex-direction: column;
}


.graficos_right{
    margin-left: 150px;
    width: 200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main{
    width: 70%;
    margin-left: 100px;
    padding: 40px 0px 0px 70px;
    display: flex;
}

.title{
    font-size: 30px;
    color: var(--cor-principal);
    font-weight: bold;
}

.header .subtitle{
    font-size: 25px;
    color: var(--cor-principal);
}



.red{
    color: #FF0404;
    font-weight: bold;
    margin-top: 20px;
}

.yellow{
    font-weight: bold;
    color: #FFDA47;
    margin-top: 20px;
}

.green{
    font-weight: bold;
    color: #5EFF47;
    margin-top: 20px;
}

.barraNormal{
    width: 300px;
    height: 10px;
    background-color: #5EFF47;
    border-radius: 20px;
}

.barraAtencao{
    width: 200px;
    height: 10px;
    background-color: #FFDA47;
    border-radius: 20px;
}

.barraEmergencia{
    width: 100px;
    height: 10px;
    background-color: #FF0404;
    border-radius: 20px;
}
#myBar{
    width: 100%;
}


#myChart{
    height: 250px;
}

.pizza{
    width: 300px;
    box-shadow: 0px 3px 6px rgb(221, 221, 221);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

.pizza .title{
    font-size: 19px;
    margin-left: 15px;
}

.incidentes{
    box-shadow: 0px 3px 6px rgb(221, 221, 221);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 430px;
}

.incidentes .title{
    font-size: 19px;
    
}

.temperatura{
    padding: 20px;
    border-radius: 20px;
    width: 430px;
}

.temperatura .title{
    font-size: 19px;
}