body{
    padding: 0;
    margin: 0;
    background-color: var(--fundoSite);
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.main{
    width: 85%;
    margin-left: 100px;
    padding: 70px 0px 70px 70px;
    display: flex;
}

.left_side{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.right_side{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
    background-color: white;
    border-radius: 20px;
    align-items: center;
}

.left_side .card{
    width: 600px;
    height: 110px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
    color: #522952;
    background-color: white;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.card .text_side{
    width: 350px;
}

.card .tituloCard{
    font-size: 22px;
    font-weight: bold;
}

.card .textoCard{
    font-size: 19px;
    margin-top: 10px;
}

.card img{
    width: 200px;
    height: 200px;
    margin-top: -80px;
}

.tituloGrafico{
    font-size: 20px;
    color: #522952;
    display: flex;
    align-items: center;
    margin-top: 40px;

}

.week{
    font-size: 18px;
    margin-top: 2px;
}

.left_side .grafico_produtividade{
    width: 700px;
}

.right_side .titulo{
    font-size: 20px;
    color: #522952;
}

.graficoRisco{
    font-size: 20px;
    margin-top: 50px;
}

.btn{
    background-color: #522952;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 60px;
}